<h1>Retrieve your nuts</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class ="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	
	<div class ="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>		
	
	<div class="actions">
		<%= f.submit "Get your nuts" %><br />
	</div>
<% end %>

<p> Haven't stored your nuts? <%= link_to "Get some nuts now!", signup_path%> </p>